<h1 class="title text-center">Welcome To Minesweeper Game!!</h1>
<br>
<div class="container" *ngIf="!mineSweeper">
    <div class="row">
        <div class="form-group col-lg-offset-4 col-lg-4">
            <label for="rows">Row Count</label>
            <input id="rows" class="form-control" type="number" [(ngModel)]="rows">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-offset-4 col-lg-4">
            <label for="columns">Column Count</label>
            <input id="columns" class="form-control" type="number" [(ngModel)]="columns">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-offset-4 col-lg-4">
            <label for="mines">Mine Count</label>
            <input id="mines" class="form-control" type="number" [(ngModel)]="mines">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-group col-lg-offset-4 col-lg-4">
            <button class="btn btn-primary col-lg-12" (click)="createMineSweeper()">
                Create Mine Sweeper
            </button>
        </div>
    </div>
</div>
<div class="container" *ngIf="mineSweeper">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-8">
            <div *ngFor="let cellRow of mineSweeper?.cells">
                <span *ngFor="let cell of cellRow">
                    <button class="btn btn-primary cell" #btn 
                        [class.btn-success]="!cell.isHidden && !cell.isMine" 
                        [class.btn-danger]="!cell.isHidden && cell.isMine" 
                        (click)="updateGame($event, cell)">{{cell.label}}</button>
                </span>
            </div>
        </div>
    </div>
</div>