<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <hr>
            <h1 class="text-center">Create New Game</h1>
            <hr>
            <div class="row">
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="columns">Row Count</label>
                        <label>(Min 5, Max 10)</label>
                        <input id="columns" [class.error]="!columns || columns <= 4 || columns > 10" class="form-control" type="number" [(ngModel)]="columns">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="rows">Column Count (Min 5, Max 10)</label>
                        <input id="rows" [class.error]="!rows || rows <= 4 || rows > 10" class="form-control" type="number" [(ngModel)]="rows">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="mines">Mine Count (Min 1, Less Than Row * Column)</label>
                        <input id="mines" [class.error]="!mines || mines == 0" class="form-control" type="number" [(ngModel)]="mines">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <button class="btn btn-primary col-lg-12" (click)="createMineSweeper()" [disabled]="(!rows || rows <= 4 || rows > 10) || (!columns || columns <= 4 || columns > 10) || (!mines || mines == 0 || rows * columns < mines)">
                            Create Mine Sweeper
                        </button>
                    </div>
                </div>
            </div>
            <ul style="padding:0;">
                <li>Start by clicking a random button with `?` text to check if it's a mine.</li>
                <li>Keep Shift button pressed while cliking a button to mark it suspicious.</li>
                <li>Click suspicious button to check if it's a mine.</li>
            </ul>
        </div>
        <div class="col-lg-7 text-center">
            <h1 class="title text-center" [class.text-danger]="message === 'Mine Exploded!!!!!'" [class.text-success]="!tilesRemaining">{{message}}</h1>
            <br>
            <div *ngFor="let cellRow of mineSweeper?.cells">
                <button *ngFor="let cell of cellRow" class="btn btn-primary cell" #btn 
                    [disabled]="message === 'Mine Exploded!!!!!'"
                    [class.btn-success]="!cell.isHidden && !cell.isMine && !cell.suspicious"
                    [class.btn-danger]="!cell.isHidden && cell.isMine && !cell.suspicious" 
                    [class.btn-warning]="cell.suspicious"
                    (click)="updateGame($event, cell)">
                    {{cell.label}}
                </button>
            </div>
        </div>
    </div>
</div>